

<div class="form-wrapper">
    <form [formGroup]="employeeForm">
        <div class="inner-wrapper">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Name</label>
              <input formControlName="name" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email address</label>
                <input formControlName="emailid"  type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Contact No.</label>
                <input formControlName="contactNo"  type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">City</label>
                <input formControlName="city"   type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">State</label>
                <input formControlName="state"  type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Pin Code</label>
                <input formControlName="pincode"  type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Address</label>
            <textarea formControlName="address"  class="form-control" name="" id=""></textarea>
        </div>
        <button type="submit" (click)="onSave()" class="_primary-button">Submit</button>
    </form>
</div>