

<div class="sidebar-content">

    <div class="logo">
        <img src="assets/images/god-logo.png" alt="">
    </div>

    <ul class="the-tabs">

        <li class="tab-wrapper">
            <span  class="the-icon material-symbols-outlined">
                home
            </span>
            <span class="tab-name">Home</span>
        </li>

        <li class="tab-wrapper active-tab">
            <span class="the-icon material-symbols-outlined">
                account_circle
            </span>
            <span class="tab-name">People</span>
        </li>

        <li class="tab-wrapper">
            <span class="the-icon material-symbols-outlined">
                event_available
            </span>
            <span class="tab-name">Events</span>
        </li>

        <li class="tab-wrapper">
            <span class="the-icon material-symbols-outlined">
                monitoring
            </span>
            <span class="tab-name">Reports</span>
        </li>

        <li class="tab-wrapper">
            <span class="the-icon material-symbols-outlined">
                settings
            </span>
            <span class="tab-name">Settings</span>
        </li>

    </ul>

</div>