
<table class="table">
    <thead>
      <tr>
        <th scope="col">EmpId</th>
        <th scope="col">Name</th>
        <th scope="col">City</th>
        <th scope="col">Contact No.</th>
        <th scope="col">Email Id</th>
        <th scope="col">State</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>551655845</td>
        <td>name.gmail.com</td>
        <td>Unknown</td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>551655845</td>
        <td>name.gmail.com</td>
        <td>Unknown</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Mark</td>
        <td>Otto</td>
        <td>551655845</td>
        <td>name.gmail.com</td>
        <td>Unknown</td>
      </tr>
    </tbody>
  </table>
