@import './design_system/panel';
@import './design_system/sidebar';

._primary-button{
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1814F3;
    border-radius: 6px;
    color: #ffffff;
    font-weight: 500;
    font-size: 14px;
    padding: 0 20px;
    border: 0;
}

.ml-8{
    margin-left: 8px;
}